<%- include('partials/header') %>
<%- include('partials/navbar') %>

<section id="home" class="text-center py-5 bg-light">
    <div class="container">
        <h1 class="display-4">Welcome to 2N1 Cafe Corp</h1>
        <p class="lead">Best coffee, milktea, and more.</p>
    </div>
</section>

<%- include('partials/products') %>
<%- include('partials/shop') %>
<%- include('partials/contact') %>
<%- include('partials/footer') %>

